@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --button-primary: white;
  --button-sub: #fc6e08;
}

body {
  background-color: #feffff;
  font-family: "Noto Sans KR";
}

.media-info-msg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  top: -10px;
  color: white;
  background-color: red;
}

.media-info-msg div {
  padding-left: 30vw;
  padding-top: 45vh;
}

.media-info-msg img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.media-info-msg span {
  width: 500px;
  margin-top: -30px;
  font-weight: bold;
  display: block;
  margin-left: 60px;
  font-size: 20px;
}

@media (max-width: 500px) {
  .media-info-msg {
    display: none;
  }
}
