@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --button-primary: white;
  --button-sub: #fc6e08;
}

body {
  background-color: #feffff;
  font-family: "Noto Sans KR";
}

.media-info-msg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  top: -10px;
  color: white;
}

.media-info-msg_chat {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  top: -10px;
  color: white;
  z-index: 5;
}

.sizing_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.media-info-msg img {
  width: 50px;
  margin-right: 10px;
}

.media-info-msg_chat img {
  width: 50px;
  margin-right: 10px;
}

@media (min-width: 500px) {
  .media-info-msg {
    display: block;
    background-color: red;
    z-index: 0;
  }
}

@media (min-width: 500px) {
  .media-info-msg_chat {
    display: block;
    background-color: orange;
    z-index: 0;
  }
}

/* 뒤로가기버튼-alert */
.back-icon__alertbox {
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: none;
  padding: 10px 20px;
}

.back-icon__alert {
  width: 30px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .back-icon__alertbox {
    display: block;
  }
}
